@import 'tailwindcss';

/* 纭繚 html 鍜?body 鍗犳弧鍏ㄥ睆 */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 鍙€夛細闃叉婊氬姩鏉?*/
body {
  overflow: hidden;
}

/* Electron 绐楀彛鎷栨嫿鏍峰紡 */
.app-drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
